body, td, pre { font-family: Tahoma, Arial, Helvetica; font-size: 8pt; color: #000000 ; vertical-align: center; padding-left:4; padding-right:4;}
.FormItem { font-family: Tahoma, Arial, Helvetica; font-size: 8pt; color: #000000 }
.TextArea { font-family: Arial, Helvetica; font-size: 10pt; color: #000000 }
th { font-family: Tahoma, Arial, Helvetica; font-size: 10pt; color:FFFFFF; font-weight:bold; ; vertical-align: center; padding-left:4; padding-right:4;}
a:link, a:visited, a:active {color: #000080 }
a:hover {color: #BB0000 }
.NoUnderline { text-decoration:none}
h3 { font-family: Tahoma, Arial, Helvetica; font-size: 13pt; font-weight: bold; margin-top:0; margin-bottom:4;}
input.radio { background : #DDDDDD; color: #DDDDDD }
.3dLook { border-right: #555555 thin inset; border-top: white thin outset; border-left: white thin outset; border-bottom: #555555 thin inset }
.Button_sel { border-right: #555555 thin inset; border-top: white thin outset; border-left: white thin outset; border-bottom: #555555 thin inset }
.Button_unsel {border-right: #D8D8D8 thin solid; border-top: #D8D8D8 thin solid; border-left: #D8D8D8 thin solid;border-bottom: #D8D8D8 thin solid }
.skin0 {position:absolute;width:130px;border:1px solid black;background-color:#cccccc;line-height:18px;cursor:default;z-index:100;visibility:hidden;border-right: #555555 thin inset; border-top: white thin outset; border-left: white thin outset; border-bottom: #555555 thin inset}
.menuitems {font-family:MS Sans serif, Arial, Helvetica;font-size:8px;padding-left:6px;padding-right:6px;}
.tooltip {position: absolute; visibility:hidden;  font-size:8pt;  border: 1px solid black;  background-color: lightyellow; padding: 1px;}